ul {
	padding: 20px 10px;
	li {
		margin: 5px 0;
		list-style: none;
		border-radius: 2px;
		padding: 20px 50px;
		cursor: pointer;
		&:hover, &.active {
			background-color: #9c27b0;
		}
		p {
			margin: 0;
		}
	}
}