/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table {
  width: 80%;
	margin: 0 auto;

  .mat-row:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
}
